<app-layout>
	<ng-container content>
		<div class="px-[15px] pb-[15px] flex flex-col space-y-[20px]">
			<h2 class="text-[22px] font-[600] text-[#030303] leading-[100%]">Баланс</h2>
			<div class="border-1 border-[#E1E1E1] p-[15px] rounded-[12px] mb-[20px]">
				@if(getMe.value(); as me) {
				<h1 class="text-[40px] text-[#030300] font-[800] price leading-[100%] mb-[10px]">{{me.user.balance | numeral:
					'$0,0[.]00'}}</h1>
				}@else {
				<div class="skeleton h-[40px] mb-[10px] w-full"></div>
				}
				<div class="flex gap-x-[10px]">
					<button type="button"
						class="flex-1 cursor-pointer h-[40px] bg-[#030303] rounded-[6px] text-white font-[400] text-[16px]"
						onclick="topUp.showModal()">
						Пополнить
					</button>
					<button type="button" onclick="withdrawalsModal.showModal()"
						class="flex-1 h-[40px] bg-transparent border-1 border-[#030303] cursor-pointer rounded-[6px] text-[#030303] font-[400] text-[16px]">
						Запросить вывод
					</button>
				</div>
			</div>
			<div>
				<div class="border-1 border-[#E1E1E1] p-[15px] rounded-[12px] rounded-b-none flex flex-col gap-y-[10px]">
					<div class="space-y-[10px]">
						<div class=" input w-full cursor-pointer">
							<p>От</p>
							<input type="text" id="ot" autocomplete="off" class="w-full" (change)="getAllTransactions.reload()"
								[(ngModel)]="sortFilter.start_date" appDateFocus readonly />
							@if (sortFilter.start_date === '') {
							<lucide-icon [name]="ICONS.Calendar" size="18"></lucide-icon>
							} @else{
							<lucide-icon [name]="ICONS.X" size="20"
								(click)="sortFilter.start_date = ''; getAllTransactions.reload()"></lucide-icon>
							}
						</div>
						<div class="input w-full cursor-pointer">
							<p>До</p>
							<input type="text" autocomplete="off" [(ngModel)]="sortFilter.end_date"
								(change)="getAllTransactions.reload()" class="w-full" id="do" appDateFocus readonly />
							@if (sortFilter.end_date === '') {
							<lucide-icon [name]="ICONS.Calendar" size="18"></lucide-icon>
							}@else {
							<lucide-icon [name]="ICONS.X" size="20"
								(click)="sortFilter.end_date = ''; getAllTransactions.reload()"></lucide-icon>
							}
						</div>
					</div>
					<select class="select w-full cursor-pointer" [(ngModel)]="sortFilter.status"
						(change)="getAllTransactions.reload()">
						<option selected value="all">Все операции</option>
						<option value="completed">Выполнено</option>
						<option value="pending">В обработке</option>
						<option value="rejected">Отменено</option>
					</select>
				</div>
				@if (getAllTransactions.value(); as transactions) {
				<div class="border-1 border-t-0 border-[#E1E1E1] p-[15px]">
					@for (item of transactions.data.transactions; track item.id) {
					<div class="pb-[10px] mb-[15px] border-b-1 border-[#E1E1E1] space-y-[10px]">
						<p class="text-end block text-[14px] text-[#030303] capitalize leading-[100%] opacity-50">
							{{item.created_at |
							dateFormat: 'MMMM DD, HH:MM'}}</p>
						<b class="text-[16px] leading-[120%] text-[#030303] font-[500]">{{item.description}}</b>
						<h3 class="price text-[22px] font-bold text-end leading-[100%]">{{item.amount | numeral:
							'$0,0[.]00'}}</h3>
						@switch (item.status) {
						@case ('completed') {
						<p class="p-[4px] block bg-[#04B70A] leading-[100%] text-center rounded text-[16px] text-[#fff]">Выполнено
						</p>
						}
						@case ('rejected') {
						<p class="p-[4px] block bg-[#F15B5B] leading-[100%] text-center rounded text-[16px] text-[#fff]">Отменено
						</p>
						}
						@case ('pending') {
						<p class="p-[4px] block bg-[#FFC107] leading-[100%] text-center rounded text-[16px] text-[#fff]">В обработке
						</p>
						}
						}
					</div>
					}
					@if (transactions.data.transactions.length !== 0) {
					<div class="flex items-center">
						@if(pagination().last_page !== 1) {
						<div class="join">
							<button class="join-item btn" title="Предыдущие транзакции" (click)="increasePage('prev')"
								[disabled]="pagination().current_page === 1">
								<lucide-icon [name]="ICONS.ChevronLeft"></lucide-icon>
							</button>

							<button class="join-item btn">
								{{pagination().current_page}} / {{pagination().last_page}}
							</button>

							<button class="join-item btn" title="Следующие транзакции" (click)="increasePage('next')"
								[disabled]="pagination().current_page === pagination().last_page">
								<lucide-icon [name]="ICONS.ChevronRight"></lucide-icon>
							</button>
						</div>
						}

						<button type="button"
							class="flex items-center justify-center ml-auto gap-x-[5px] cursor-pointer text-[16px] text-[#fff] font-[500] bg-[#FFA800] h-[32px] rounded px-[10px]">
							<lucide-icon [name]="ICONS.FileDown" size="20" strokeWidth="2"></lucide-icon>
							Экспорт
						</button>
					</div>
					}@else {
					<p class="text-[14px]">
						Транзакции не найдены
					</p>
					}
				</div>
				}@else {
				<div class="border-1 border-t-0 border-[#E1E1E1] p-[15px] space-y-[15px]">
					<div class="space-y-[5px] pb-[10px] border-b-1 border-[#E1E1E1]">
						<div class="skeleton w-[50%] ml-auto h-[14px] rounded-[0]"></div>
						<div class="skeleton w-full h-[19.5px] rounded-[0]"></div>
						<div class="skeleton w-[40%] ml-auto h-[22px] rounded-[0]"></div>
						<div class="skeleton w-full h-[24px] rounded-[0]"></div>
					</div>
					<div class="space-y-[5px] pb-[10px] border-b-1 border-[#E1E1E1]">
						<div class="skeleton w-[50%] ml-auto h-[14px] rounded-[0]"></div>
						<div class="skeleton w-full h-[19.5px] rounded-[0]"></div>
						<div class="skeleton w-[40%] ml-auto h-[22px] rounded-[0]"></div>
						<div class="skeleton w-full h-[24px] rounded-[0]"></div>
					</div>
					<div class="space-y-[5px] pb-[10px] border-b-1 border-[#E1E1E1]">
						<div class="skeleton w-[50%] ml-auto h-[14px] rounded-[0]"></div>
						<div class="skeleton w-full h-[19.5px] rounded-[0]"></div>
						<div class="skeleton w-[40%] ml-auto h-[22px] rounded-[0]"></div>
						<div class="skeleton w-full h-[24px] rounded-[0]"></div>
					</div>
				</div>
				}
			</div>
		</div>

		<dialog id="withdrawalsModal" class="modal modal-bottom sm:modal-middle">
			<div class="modal-box">
				<h3 class="text-lg font-bold">Запрос на выплату</h3>
				<p>Пожалуйста, заполните следующие данные и отправьте запрос на вывод средств.</p>
				<div class="mt-[10px]">
					<form method="dialog" [formGroup]="withdrawalsForm" class="w-full space-y-[10px]" (ngSubmit)="submit()">
						<fieldset class="fieldset">
							<legend class="fieldset-legend text-[14px] py-[2px]">Сумма</legend>
							<input type="number" class="input w-full placeholder:text-black/50" required formControlName="amount"
								[placeholder]="getMe.value()?.user?.balance" maxlength="60" min="1" />
							@if(withdrawalsForm.get('amount')?.dirty && withdrawalsForm.get('amount')?.invalid) {
							<div>
								@if (withdrawalsForm.get('amount')?.errors?.['required']) {
								<p class="text-[#FF0000]">Сумма обязательна
								</p>
								}
								@if(withdrawalsForm.get('amount')?.errors?.['max']) {
								<p class="text-[#FF0000]">Сумма не может превышать баланс
								</p>
								}
								@if(withdrawalsForm.get('amount')?.errors?.['min']) {
								<p class="text-[#FF0000]">Сумма не может быть меньше 20$
								</p>
								}
								@if(withdrawalsForm.get('amount')?.errors?.['maxlength']) {
								<p class="text-[#FF0000]">Слишком длинное значение
								</p>
								}
							</div>
							}
						</fieldset>
						<fieldset class="fieldset">
							<legend class="fieldset-legend text-[14px] py-[2px]">Крипто-токен(USDT):</legend>
							<input type="text" class="input w-full placeholder:text-black/50" formControlName="requisites" required
								maxlength="60" placeholder="токен" />
							@if(withdrawalsForm.get('requisites')?.dirty && withdrawalsForm.get('requisites')?.invalid) {
							@if(withdrawalsForm.get('amount')?.errors?.['required']) {
							<p class="text-[#FF0000]">Крипто-токен обязателен
							</p>}}
						</fieldset>
						<div class="flex justify-end gap-x-[10px]">
							<button class="btn btn-primary" type="submit" [disabled]="withdrawalsForm.invalid">Отправить</button>
							<button class="btn">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</dialog>
		<!-- Top up modal -->
		<dialog id="topUp" class="modal modal-bottom sm:modal-middle">
			<div class="modal-box">
				<h3 class="text-lg font-bold">Пополнить баланс</h3>
				<p>Вывод средств возможен только через 30 дней после вашего последнего депозита.</p>
				<div class="space-y-[5px] my-[15px]">
					<label for="amount" class="text-black text-[14px] leading-[100%] block">Сумма (USDT)*</label>
					<input type="number" placeholder="Введите сумму" class="input placeholder:text-black/50 w-full" id="amount" />
				</div>
				<div class="modal-action mt-0">
					<form method="dialog">
						<button type="button" class="btn btn-primary" (click)="createInvoice()">Пополнить</button>
						<button class="btn ml-[10px]">Отмена</button>
					</form>
				</div>
			</div>
		</dialog>
	</ng-container>
</app-layout>