<swiper-container class="overflow-hidden rounded-[12px]" slides-per-view="1" space-between="10" effect="fade"
	watch-slides-progress="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
	<swiper-slide class="h-[150px]">
		<img src="/img/home-slide1.jpg" alt="home slide img" class="w-full object-cover object-center h-full">
	</swiper-slide>
	<swiper-slide class="h-[150px]">
		<img src="/img/home-slide2.jpg" alt="home slide img" class="w-full object-cover object-center h-full">
	</swiper-slide>
	<swiper-slide class="h-[150px]">
		<img src="/img/home-slide3.jpg" alt="home slide img" class="w-full object-cover object-center h-full">
	</swiper-slide>
</swiper-container>