@if (messageSignal(); as content) {
@let user_id = message().user_id;
<div class="chat transform opacity-0"
	[ngClass]="content.user_id === user_id || content.user.is_admin? 'chat-start':'chat-end'">
	<div class="chat-image avatar">
		<div class="w-10 rounded-full">
			<img alt="Tailwind CSS chat bubble component"
				[src]="content.user.avatar_url??'https://proccmarket.com/avatars/avatar10.svg'" />
		</div>
	</div>
	<div class="chat-header">
		{{content.user.name??'user' + content.id}} {{content.user.is_admin?'(админ)':''}}
		<time class="text-xs opacity-50">{{content.created_at | date:'dd-MMM hh:mm'}}</time>
	</div>
	<p class="chat-bubble break-words whitespace-pre-wrap" [class.chat-bubble-secondary]="content.user.is_admin"
		[innerHTML]="content.content.trim()"></p>
	@if(content.is_read && content.user.id !== user_id){
	<div class="chat-footer opacity-50">Прочитано</div>
	}
</div>
}