<div class="p-[15px]">
	@if(!news.isLoading()) {
	<div class="space-y-[20px]">
		@if (news.value(); as news) {
		@let newsData = news.data;
		<div class="space-y-[15px]">
			<div class="flex text-black/50 text-sm gap-x-[10px]">
				<p class="capitalize text-[16px]">{{news.data.created_at | dateFormat: 'MMMM DD, HH:MM'}}</p>
				<div class="flex items-center gap-x-[3px]">
					<lucide-icon [name]="ICONS.Eye" size="20"></lucide-icon>
					<p>{{news.data.views_count | numeral: '0a'}}</p>
				</div>
			</div>
			<h1 class="text-2xl font-semibold">{{news.data.title}}</h1>
		</div>
		<div [innerHTML]="news.data.description"></div>
		<div class="flex items-center gap-x-[20px]">
			<button type="button" class="text-black/50 text-[18px] flex items-center gap-x-[5px] cursor-pointer"
				(click)="newToggleLike(newsData.id, true)">
				<lucide-icon [name]="ICONS.ThumbsUp"
					[color]="newsData.user_reaction === 'like'?'#030303':'#00000080'"></lucide-icon>
				<span class="block"
					[class.text-[#030303]]="newsData.user_reaction === 'like'?'#030303':''">{{newsData.likes_count | numeral:
					'0a'}}</span>
			</button>
			<button type="button" class="text-black/50 text-[18px] flex items-center gap-x-[5px] cursor-pointer"
				(click)="newToggleLike(newsData.id, false)">
				<lucide-icon [name]="ICONS.ThumbsDown"
					[color]="newsData.user_reaction === 'dislike'?'#030303':'#00000080'"></lucide-icon>
				<span class="block"
					[class.text-[#030303]]="newsData.user_reaction === 'dislike'?'#030303':''">{{newsData.dislikes_count |
					numeral: '0a'}}</span>
			</button>
			<button type="button" class="text-black/50 text-[18px] flex items-center gap-x-[5px]">
				<lucide-icon [name]="ICONS.MessagesSquare"></lucide-icon>
				<span class="block">{{newsData.comments_count | numeral: '0a'}}</span>
			</button>
		</div>
		<div class="space-y-[10px]">
			<h2 class="text-lg font-semibold">Оставьте комментарий</h2>
			<textarea placeholder="Ваш комментарий"
				class="textarea placeholder:text-black/50 textarea-primary mb-[10px] w-full"
				[(ngModel)]="comment().content"></textarea>
			<button type="button" class="btn btn-primary ml-auto block" (click)="createComment()"
				[disabled]="comment().content ===''">Отправить</button>
		</div>
		@if (comments.value(); as comments) {
		<div class="space-y-[10px]">
			@for (item of comments.data; track item.id) {
			<div>
				<app-comment [comment]="item"></app-comment>
			</div>
			}
			<!-- <div class="card border-1 w-[95%] ml-auto border-[#E1E1E1] space-y-[10px] p-[10px]">
				<div class="flex items-center justify-between">
					<div class="flex items-center gap-x-[5px]">
						<div class="avatar">
							<div class="w-[50px] rounded-full">
								<img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
							</div>
						</div>
						<div>
							<h4 class="text-lg font-[400] leading-[100%]">Натали</h4>
							<p class="text-sm text-black/60">Реферер</p>
						</div>
					</div>
					<b class="text-black text-[16px]">$5 000</b>
				</div>
				<div class="border-l-[3px] border-[#818181] p-[5px] bg-[#F2F2F2]">
					<h4 class="text-[#71839B] text-base">#Natali - Реферер</h4>
					<p class="text-base truncate-text-2">Добро пожаловать в наш закрытый форум! Здесь собираются только
						проверенные участники
						Добро пожаловать в наш закрытый форум! Здесь собираются только проверенные участники </p>
				</div>
				<p class="text-base text-black">
					Добро пожаловать в наш закрытый форум! Здесь собираются только проверенные участникучастники Добро
					пожаловать
					в наш закрытый форум! Здесь собираются только проверенные участникучастники
				</p>
				<div>
					<p class="text-sm text-black/50 block mb-[5px]">04:23 PM • 23 Jan, 2025</p>
					<div class="flex items-center justify-between">
						<div class="flex items-center gap-x-[15px]">
							<button type="button" class="text-base cursor-pointer text-black/50 flex items-center gap-x-[5px]">
								<lucide-icon [name]="ICONS.ThumbsUp" size="18"></lucide-icon>
								<span>12</span>
							</button>
							<button type="button" class="text-base text-black/50 cursor-pointer flex items-center gap-x-[5px]">
								<lucide-icon [name]="ICONS.ThumbsDown" size="18"></lucide-icon>
								<span>3</span>
							</button>
						</div>
						<button type="button" class="flex items-center gap-x-[5px] text-base cursor-pointer text-black/50">
							<lucide-icon [name]="ICONS.CornerUpLeft" size="20"></lucide-icon>
							<span>Ответить</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card border-1 border-[#E1E1E1] space-y-[10px] p-[10px]">
				<div class="flex items-center justify-between">
					<div class="flex items-center gap-x-[5px]">
						<div class="avatar">
							<div class="w-[50px] rounded-full">
								<img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
							</div>
						</div>
						<div>
							<h4 class="text-lg font-[400] leading-[100%]">Натали</h4>
							<p class="text-sm text-black/60">Реферер</p>
						</div>
					</div>
					<b class="text-black text-[16px]">$5 000</b>
				</div>
				<p class="text-base text-black">
					Добро пожаловать в наш закрытый форум! Здесь собираются только проверенные участникучастники Добро
					пожаловать
					в наш закрытый форум! Здесь собираются только проверенные участникучастники
				</p>
				<div>
					<p class="text-sm text-black/50 block mb-[5px]">04:23 PM • 23 Jan, 2025</p>
					<div class="flex items-center justify-between">
						<div class="flex items-center gap-x-[15px]">
							<button type="button" class="text-base cursor-pointer text-black/50 flex items-center gap-x-[5px]">
								<lucide-icon [name]="ICONS.ThumbsUp" size="18"></lucide-icon>
								<span>12</span>
							</button>
							<button type="button" class="text-base text-black/50 cursor-pointer flex items-center gap-x-[5px]">
								<lucide-icon [name]="ICONS.ThumbsDown" size="18"></lucide-icon>
								<span>3</span>
							</button>
						</div>
						<button type="button" class="flex items-center gap-x-[5px] text-base cursor-pointer text-black/50">
							<lucide-icon [name]="ICONS.CornerUpLeft" size="20"></lucide-icon>
							<span>Ответить</span>
						</button>
					</div>
				</div>
			</div> -->
		</div>
		}}
	</div>
	}@else {
	<div class="flex w-full flex-col gap-4">
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-[80%]"></div>
		<div class="skeleton h-32 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
		<div class="skeleton h-4 w-full"></div>
	</div>
	}
</div>