<div class="p-[15px]">
	@if (!loader()) {
	<div class=" w-[100px] h-[100px] mx-auto mb-[20px] cursor-pointer" onclick="avatarsModal.showModal()">
		<img [src]="userAvatar()" class="w-full h-full block object-cover object-center rounded-[12px]" />
	</div>
	<form [formGroup]="updateForm" class="space-y-4" (ngSubmit)="update()">
		<div>
			<label for="name" class="text-black text-[14px] mb-1 block">Имя и Фамилия*</label>
			<input type="text" id="name" formControlName="name" placeholder="Ваше имя"
				class="input placeholder:text-[#030303]/50 input-bordered w-full" />
			@if(updateForm.get('name')?.hasError('required') &&
			updateForm.get('name')?.touched){
			<span class="text-xs text-[#FF0000]">Поле обязательно.</span>
			}
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('name')?.hasError('minlength') && updateForm.get('name')?.touched">
				Минимум 2 символа.
			</span>
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('name')?.hasError('maxlength') && updateForm.get('name')?.touched">
				Максимум 60 символов.
			</span>
		</div>

		<!-- Email -->
		<div>
			<label for="email" class="text-black text-[14px] mb-1 block">Электронная почта*</label>
			<input type="email" id="email" formControlName="email" placeholder="user@gmail.com"
				class="input placeholder:text-[#030303]/50 input-bordered w-full" />
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('email')?.hasError('required') && updateForm.get('email')?.touched">
				Поле обязательно.
			</span>
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('email')?.hasError('email') && updateForm.get('email')?.touched">
				Введите корректный email.
			</span>
		</div>

		<!-- Description -->
		<div>
			<label for="desc" class="text-black text-[14px] mb-1 block">Биография</label>
			<textarea id="desc" formControlName="description" placeholder="Напишите немного о себе"
				class="textarea placeholder:text-[#030303]/50 textarea-bordered w-full" maxlength="150" rows="3"></textarea>
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('description')?.hasError('maxlength') && updateForm.get('description')?.touched">
				Максимум 100 символов.
			</span>
		</div>

		<!-- Password -->
		<div>
			<label class="text-black text-[14px] mb-1 block">Новый пароль</label>
			<input type="password" formControlName="password" placeholder="Введите пароль"
				class="input placeholder:text-[#030303]/50 input-bordered w-full" />
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('password')?.hasError('required') && updateForm.get('password')?.touched">
				Поле обязательно.
			</span>
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('password')?.hasError('minlength') && updateForm.get('password')?.touched">
				Минимум 8 символов.
			</span>
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('password')?.hasError('maxlength') && updateForm.get('password')?.touched">
				Максимум 16 символов.
			</span>
		</div>

		<!-- Password Confirmation -->
		<div>
			<label class="text-black text-[14px] mb-1 block">Подтвердите пароль</label>
			<input type="password" formControlName="password_confirmation" placeholder="Повторите пароль"
				class="input placeholder:text-[#030303]/50 input-bordered w-full" />
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('password_confirmation')?.hasError('required') && updateForm.get('password_confirmation')?.touched">
				Поле обязательно.
			</span>
			<span class="text-xs text-[#FF0000]"
				*ngIf="updateForm.get('password_confirmation')?.hasError('mismatch') && updateForm.get('password_confirmation')?.touched">
				Пароли не совпадают.
			</span>
		</div>

		<!-- Submit Button -->
		<button type="submit" class="btn btn-primary w-full" [disabled]="updateForm.invalid">
			Сохранить изменения
		</button>
	</form>
	} @else {
	<div class="skeleton w-[100px] h-[100px] rounded-full mx-auto mb-[25px]"></div>
	<div class="space-y-4">
		<div class="skeleton w-[80%] h-[32px] mb-[16px] mx-auto"></div>
		<div>
			<div class="skeleton w-[40%] h-[21px] mb-[4px]"></div>
			<div class="skeleton w-[100%] h-[40px]"></div>
		</div>
		<div>
			<div class="skeleton w-[40%] h-[21px] mb-[4px]"></div>
			<div class="skeleton w-[100%] h-[40px]"></div>
		</div>
		<div>
			<div class="skeleton w-[40%] h-[21px] mb-[4px]"></div>
			<div class="skeleton w-[100%] h-[81px]"></div>
		</div>
		<div>
			<div class="skeleton w-[40%] h-[21px] mb-[4px]"></div>
			<div class="skeleton w-[100%] h-[40px]"></div>
		</div>
		<div>
			<div class="skeleton w-[40%] h-[21px] mb-[4px]"></div>
			<div class="skeleton w-[100%] h-[40px]"></div>
		</div>
		<div class="skeleton w-[100%] h-[40px]"></div>
	</div>
	}
</div>

<dialog id="avatarsModal" class="modal modal-bottom">
	<div class="modal-box">
		<h3 class="text-lg font-bold">Выбор аватара</h3>
		<div class="grid grid-cols-5 mt-[15px] gap-[10px]">
			@for (item of localAavatars; track $index) {
			<div class="w-full cursor-pointer" (click)="selectAvatar(item)">
				<img [src]="item" [alt]="item" class="w-full h-auto block">
			</div>
			}
		</div>
		<div class="mt-[15px]">
			<label for="avatarInp" class="leading-[100%] mb-[5px] block text-[14px]">Выберите файл</label>
			<input type="file" class="file-input w-full" accept="image/*" (change)="avatarSelect($event)" />
		</div>
		<div class="modal-action">
			<form method="dialog">
				<button class="btn">Закрыть</button>
			</form>
		</div>
	</div>
</dialog>