<div class="drawer">
	<input id="my-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content">
		<div class="border-b-1 border-[#F2F2F2] bg-[#fff]">
			<div class="flex items-center justify-between p-[8px_15px] max-w-[768px] mx-auto">
				<label for="my-drawer"
					class="bg-[#F2F2F2] p-[8px] cursor-pointer rounded-[12px] w-[40px] drawer-button h-[40px]">
					<img src="/svg/bars.svg" alt="bars icon" class="w-full h-full block">
				</label>
				<a routerLink="/" class="bg-[#000] max-w-[100px]">
					<img src="/svg/logo.svg" alt="logo icon" class="block w-full h-full">
				</a>
				<a routerLink="/notifications" class="bg-[#F2F2F2] p-[8.5px] block indicator rounded-[12px] w-[40px] h-[40px]">
					<span class="indicator-item status status-success"></span>
					<img src="/svg/bell.svg" alt="bars icon" class="w-full h-full block">
				</a>
			</div>
		</div>
	</div>
	<div class="drawer-side">
		<label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
		<div class="min-h-dvh w-10 bg-white max-w-xs w-full flex flex-col justify-between row-gap-2 rounded-r-box">
			<div class="space-y-[15px]" *ngIf="items?.length">
				<app-tradingview-widget></app-tradingview-widget>
				<ul class="menu max-w-xs w-full">
					<ng-container *ngFor="let item of items">
						<li *ngIf="item.submenu.length">
							<details>
								<summary>
									<lucide-icon [name]="item.icon" [size]="20"></lucide-icon>
									{{item.name}}
								</summary>
								<ul *ngIf="item.submenu.length">
									<li *ngFor="let sub of item.submenu">
										<a>{{ sub }}</a>
									</li>
								</ul>
							</details>
						</li>
					</ng-container>
				</ul>
			</div>
			<ul class="menu menu-md w-full">
				<li><a>Сотрудничество</a></li>
				<li><a>Правила</a></li>
				<li><a>О нас</a></li>
			</ul>
		</div>
	</div>
</div>