<div class="drawer">
	<input id="my-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content">
		<div class="border-b-1 border-[#F2F2F2] bg-[#fff]">
			<div class="flex items-center justify-between p-[8px_15px] max-w-[768px] mx-auto">
				<label for="my-drawer"
					class="bg-[#F2F2F2] p-[8px] cursor-pointer rounded-[12px] w-[40px] drawer-button h-[40px]">
					<img src="/svg/bars.svg" alt="bars icon" class="w-full h-full block">
				</label>
				<a routerLink="/">
					<img src="/img/logo.png" alt="logo icon" width="36" height="36">
				</a>
				<a routerLink="/notifications" class="bg-[#F2F2F2] p-[8.5px] block indicator rounded-[12px] w-[40px] h-[40px]">
					<span class="indicator-item status status-success"></span>
					<img src="/svg/bell.svg" alt="bars icon" class="w-full h-full block">
				</a>
			</div>
		</div>
	</div>
	<div class="drawer-side">
		<label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
		<ul class="menu menu-md bg-base-200 rounded-box max-w-xs w-full min-h-full">
			<ng-container *ngFor="let item of items">
				<li *ngIf="item.submenu.length">
					<details [open]="false">
						<summary>
							<lucide-icon [name]="item.icon"></lucide-icon>
							{{item.name}}
						</summary>
						<ul *ngIf="item.submenu.length">
							<li *ngFor="let item of item.submenu">
								<a>
									{{item}}
								</a>
							</li>
						</ul>
					</details>
				</li>
			</ng-container>
		</ul>
	</div>
</div>