
	<div class="flex items-center justify-between p-[8px_15px] border-b-1 border-[#F2F2F2] bg-[#fff]">
	<button type="button" class="bg-[#F2F2F2] p-[8px] rounded-[12px] w-[40px] h-[40px]">
		<img src="svg/bars.svg" alt="bars icon" class="w-full h-full block">
	</button>
	<a routerLink="/">
		<img src="img/logo.png" alt="logo icon" width="36" height="36">
	</a>
	<a routerLink="/" class="bg-[#F2F2F2] p-[8.5px] block rounded-[12px] w-[40px] h-[40px]">
		<img src="svg/bell.svg" alt="bars icon" class="w-full h-full block">
	</a>
</div>
