<form class="card space-y-4" [formGroup]="loginForm" (ngSubmit)="login()">
	<div class="space-y-[5px]">
		<label for="email" class="text-black text-[16px] leading-[100%] block">Электронная почта*</label>
		<input type="email" placeholder="example@gmail.com" class="input placeholder:text-black/50 w-full" id="email"
			maxlength="50" formControlName="email" />
		@if(loginForm.invalid && loginForm.touched){
		@if(loginForm.get('email')?.errors?.['required']){
		<p class="text-[#FF0000] text-[14px] leading-[100%]">Введите адрес электронной почты</p>}
		@if(loginForm.get('email')?.errors?.['email']) {
		<p class="text-[#FF0000] text-[14px] leading-[100%]">Некорректный формат электронной почты</p>}}
	</div>
	<div class="space-y-[5px]">
		<label for="email" class="text-black text-[16px] leading-[100%] block">Пароль*</label>
		<div>
			<app-password-input [control]="passwordControl" placeholder="Введите пароль"></app-password-input>
		</div>
		@if(loginForm.invalid && loginForm.touched){
		@if(loginForm.get('password')?.errors?.['required']){
		<p class="text-[#FF0000] text-[14px] leading-[100%]">Пожалуйста, введите пароль</p>}
		@if(loginForm.get('password')?.errors?.['minlength']) {
		<p class="text-[#FF0000] text-[14px] leading-[100%]">Пароль должен содержать не менее 8 символов</p>}
		@if(loginForm.get('password')?.errors?.['maxlength']) {
		<p class="text-[#FF0000] text-[14px] leading-[100%]">Пароль не должен превышать 16 символов</p>}
		}
	</div>
	<button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
		@if(isLoading()) {
		<span class="loading loading-dots loading-md"></span>
		}@else {
		Войти
		}
	</button>
</form>