@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, lofi;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
  width: 100%;
  height: auto;
}
* {
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.price {
  font-family: 'Red Hat Display';
  color: #030303;
}

.border-story {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0.9),
    rgba(0, 0, 0, 0.8)
  );
  background-size: 300% 300%;
  animation: flowingGradient 6s ease-in-out infinite;
}

@keyframes flowingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Chrome, Safari, Edge */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  display: none;
}

/* Firefox */
input[type='date']::-moz-calendar-picker-indicator {
  display: none;
}
input[type='date']::-webkit-datetime-edit {
  display: none;
}
