@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.price {
  font-family: "Red Hat Display";
  color: #00c853;
}
