@charset "UTF-8";
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, lofi;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import 'flatpickr/dist/flatpickr.min.css';

* {
  scrollbar-width: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.price {
  font-family: 'Red Hat Display';
  color: #030303;
}

.border-story {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0.9),
    rgba(0, 0, 0, 0.8)
  );
  background-size: 300% 300%;
  animation: flowingGradient 6s ease-in-out infinite;
}

@keyframes flowingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Chrome, Safari, Edge */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  display: none;
}

/* Firefox */
input[type='date']::-moz-calendar-picker-indicator {
  display: none;
}
input[type='date']::-webkit-datetime-edit {
  display: none;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background-color: #030303;
  border-color: #030303;
}

.flatpickr-day,
.flatpickr-day.selected.startRange.endRange,
.flatpickr-day.startRange.startRange.endRange,
.flatpickr-day.endRange.startRange.endRange {
  border-radius: 6px;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 #030303;
}

.editor-content {
  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
