<div class="flex flex-col space-y-[10px] max-w-[768px] px-[15px] mx-auto">
	<ul class="menu menu-lg p-0 bg-white rounded-box w-full">
		<li><a class="justify-between">Казино <lucide-icon [name]="ICONS.ChevronRight" size="20"></lucide-icon></a></li>
	</ul>
	<app-form-card [navigate]="'/comments/10'"></app-form-card>
	<app-form-card [navigate]="'/comments/10'"></app-form-card>
	<ul class="menu menu-lg p-0 bg-white rounded-box w-full">
		<li><a class="justify-between">Казино 2<lucide-icon [name]="ICONS.ChevronRight" size="20"></lucide-icon></a></li>
	</ul>
	<app-form-card [navigate]="'/comments/10'"></app-form-card>
	<app-form-card [navigate]="'/comments/10'"></app-form-card>

</div>