@if (userInfo.value(); as user) {
<div class="flex justify-between items-center p-[15px] bg-[#030303]">
	<div class="flex items-center gap-x-[10px]">
		<div class="avatar">
			<div class="w-12 rounded-full">
				<img [src]="user.avatar_url??'https://proccmarket.com/avatars/avatar10.svg'" />
			</div>
		</div>
		<div>
			<h3 class="text-white text-[18px]">{{user.name??'user' + user.id}}</h3>
			<p class="text-white/50 text-[14px] leading-[100%]">{{user.role_name??'Гость'}}</p>
		</div>
	</div>
	<div class="dropdown dropdown-end">
		<div tabindex="0" role="button" class="btn btn-sm btn-circle m-1"><lucide-icon
				[name]="ICONS.EllipsisVertical"></lucide-icon></div>
		<ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-40 p-2 shadow-sm">
			<li onclick="garantModal.showModal()"><a class=" text-green-500"><lucide-icon [name]="ICONS.ShieldCheck"
						size="18"></lucide-icon>Гарант</a></li>
			<li (click)="deleteChat()"><a class="text-orange-600"><lucide-icon [name]="ICONS.Trash2"
						size="18"></lucide-icon>Удалить чат</a></li>
		</ul>
	</div>
</div>
}@else {
<div class="skeleton w-full h-[78px]"></div>
}


<dialog id="garantModal" class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<h3 class="text-lg font-bold">Индивидуальное предложение</h3>
		<p class="py-2">Вы можете отправить покупателю индивидуальное предложение своих услуг. <br>
			Укажите, какие услуги и в каком объёме будут предоставлены покупателю. <br>
			Опишите свой опыт работы.</p>
		<form class="space-y-4" [formGroup]="orderForm" (ngSubmit)="createOrder()">
			<div class="space-y-[5px]">
				<label for="title" class="text-[16px] block leading-[100%] font-semibold">Название*</label>
				<input type="text" id="title" formControlName="title" placeholder="Введите название"
					class="input w-full placeholder:text-[#030303]/50" maxlength="200">
			</div>
			<div class="space-y-[5px]">
				<label for="desc" class="text-[16px] block leading-[100%] font-semibold">Описание</label>
				<textarea id="desc" formControlName="description" class="textarea w-full placeholder:text-[#030303]/50"
					placeholder="Описание услуги" maxlength="500"></textarea>
			</div>
			<div class="space-y-[5px]">
				<label for="amount" class="text-[16px] block leading-[100%] font-semibold">Сумма*</label>
				<input type="number" formControlName="amount" id="amount" placeholder="Введите сумму"
					class="input w-full placeholder:text-[#030303]/50">
			</div>
			<div class="space-y-[5px]">
				<label for="payer" class="text-[16px] block leading-[100%] font-semibold">Кто оплатит:</label>
				<select class="select w-full" id="payer" formControlName="is_client_order">
					<option value="false">Я оплачу</option>
					<option value="true" selected>Он/она оплатит</option>
				</select>
			</div>
			<div class="space-y-[5px]">
				<label for="dedline" class="text-[16px] block leading-[100%] font-semibold">Срок</label>
				<input type="datetime-local" formControlName="deadline" class="input w-full placeholder:text-[#030303]/50"
					id="dedline" placeholder="Выберите дату" />
			</div>
			<button type="submit" class="btn btn-primary w-full">Предложить</button>
		</form>
		<form method="dialog">
			<button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
		</form>
	</div>
</dialog>