<form class="card space-y-[15px]" [formGroup]="registerForm" (ngSubmit)="register()">
	<div>
		<label for="email" class="text-black text-[14px] leading-[100%] mb-[5px] block">Электронная почта</label>
		<input type="email" placeholder="example@gmail.com" class="input placeholder:text-black/50 w-full" id="email"
			formControlName="email" />
	</div>

	<div>
		<label for="password" class="text-black text-[14px] leading-[100%] mb-[5px] block">Пароль</label>
		<app-password-input [control]="passwordControl" placeholder="Введите пароль">
		</app-password-input>
	</div>

	<div>
		<label for="replay_password" class="text-black text-[14px] leading-[100%] mb-[5px] block">Повторите пароль</label>
		<app-password-input [control]="repeatPasswordControl" placeholder="Повторите пароль">
		</app-password-input>
	</div>

	<button type="submit" class="btn btn-primary w-full" [disabled]="isLoading() || registerForm.invalid">
		{{ isLoading() ? 'Загрузка...' : 'Зарегистрироваться' }}
	</button>
</form>